* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

.container {
    background-color: black;
    padding: 30px;
}

.heading {
    color: white;
}

.view-all a {
    text-decoration: none;
    color: #ffa200;
}

.trending-songs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 80%;
}

@media screen and (max-width: 640px) {
    .slider-container {
        overflow-x: auto;
        width: 100%;
    }
}



.slides {
    display: flex;
    gap: 15px;
}

.slide {
    width: 25%;
    flex: 0 0 auto;

}

.feat {
    color: #ffa200;
}
.number-overlay-1 {
    position: absolute;
    top: 0px;
    
    left: 1px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
}
.number-overlay-2 {
    position: absolute;
    top: 0px;

    left: 255px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
}
.number-overlay-3 {
    position: absolute;
    top: 0px;

    left: 512px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
}
.number-overlay-4 {
    position: absolute;
    top: 0px;

    left: 767px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
}

button {
    background-color: #303030;
    border-radius: 35px;
    /* border: 1px solid white; */
    height: auto;
    width: auto;
    padding: 10px;
    cursor: pointer;
    color: white;

}

.button-f {
    display: flex;
}

.button-text {
    text-align: left;
    padding-left: 10px;
}



@media screen and (max-width: 640px) {
    .slide {
        width: 100%;
        /* Display one slide at a time on mobile */
        flex: 0 0 auto;
        /* Additional styles for each slide on mobile */
    }
}

img {
    max-width: 100%;
    height: auto;

}


h4 {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}




.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #ffa200;
    border-radius: 200%;
    text-align: center;
    line-height: 45px;
    color: black;
    cursor: pointer;
}

.prev {
    left: 10px;

}

.next {
    right: 10px;

}

@media screen and (max-width: 640px) {

    .prev,
    .next {
        display: none;
    }
}

/* .feat {
    color: #ffa200;
} */

.trending-song {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 80px;
}

.sliders {
    display: flex;
    gap: 15px;

}

.slider {
    width: 25%;
    flex: 0 0 auto;

}
.user-1 {
    position: absolute;
    top: 0px;

    left: 1px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    /* background-color: gray; */
    padding: 5px 5px;
    border-radius: 5px;
}

.user-2 {
    position: absolute;
    top: 0px;

    left: 260px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    /* background-color: gray; */
    padding: 5px 5px;
    border-radius: 5px;
}

.user-3 {
    position: absolute;
    top: 0px;

    left: 510px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    /* background-color: gray; */
    padding: 5px 5px;
    border-radius: 5px;
}

.user-4 {
    position: absolute;
    top: 0px;

    left: 770px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    /* background-color: gray; */
    padding: 5px 5px;
    /* border-radius: 5px; */
}



@media screen and (max-width: 640px) {
    .slider {
        width: 100%;
        /* Display one slide at a time on mobile */
        flex: 0 0 auto;
        /* Additional styles for each slide on mobile */
    }
}